/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.home .hero h1 
  color rgba(32, 124, 236)
  font-family 'Kh Muol'
.navbar .site-name
  font-family 'Kh Muol'