/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = rgb(32, 124, 236)
$borderColor = #eaecef
$codeBgColor = #ec0000

.navbar 
    background-color: #2980b9
.navbar .site-name
  color: rgb(227, 227, 227)
  font: bold 24px sans-serif
.navbar .links
    background-color: #2980b9
h1, h2, p
  font-family 'Hanuman'
ul li
    font-family 'Hanuman'
.nav-links a:hover, .nav-links a.router-link-active
    color: white
.nav-links a 
    color: rgb(252, 244, 3)
.page .theme-default-content
    margin-left 0px
.page-nav 
    margin-left 260px
.theme-default-content
    max-width 95%!important
.theme-default-content p
    color: rgb(99, 99, 99)
.theme-default-content ul li img 
  width: 100%
  height: auto
.theme-default-content p a
    color: rgb(25, 79, 226)
    font-family: 'Hanuman'
    font: bold 16px sans-serif
.page .theme-default-content h1 
    text-shadow: 1px 0.7px 1px rgb(146, 144, 144)
    font-size: 34px
.page .theme-default-content h2 
    text-shadow: 1px 0.4px 1px rgb(146, 144, 144)
    padding-left: 1px
.page .theme-default-content ul li
    padding: 7px 0
    font-size: 17px
.page .theme-default-content ul li a
    color: rgb(248, 45, 65)
    font-family: 'Hanuman'
    font: bold 16px sans-serif
.page .theme-default-content ul li code
    font: bold 16px sans-serif
.page .theme-default-content h3
    color: rgb(217, 19, 36)
    text-shadow: 1.2px 0.8px 1.5px rgb(230, 158, 174)
    padding-left: 0.2rem;
    font-family: 'Hanuman'
details summary
    color: rgb(247, 247, 247)
    font-family: 'Hanuman'
.page .theme-default-content ul li em
    color: rgb(0, 76, 255)
.page .theme-default-content ul li code
    background: rgb(61, 126, 232)
    font-family: 'Hanuman'
    color: white
.page .theme-default-content code
    background: rgb(0, 187, 255)
    font-family: 'Hanuman'
    color: white
    font-size: 15px
.page .theme-default-content .custom-block blockquote p
    font-family: 'AKbalthom Ream'
    color: rgb(90, 122, 212)
.page .theme-default-content .custom-block details em
    color: rgb(235, 87, 76)
.page .theme-default-content p em
    color: rgb(234, 0, 255)
.page .theme-default-content details
    background: rgb(0, 0, 0)
.page .theme-default-content details p
    color: white
.page .theme-default-content details li
    color: white
.page .theme-default-content .custom-block .custom-block-title
    margin-bottom: 0.6rem
.nav-item a
    font-family: 'Hanuman'
.page .theme-default-content p strong
    color:rgb(252, 95, 95)
.page .theme-default-content .custom-block.tip
    background-color: #f3f5f7
    border-color: rgb(120, 118, 118)
.sidebar-group p span
    font-family: 'Hanuman'
    text-shadow: 1px 0.4px 1px rgb(166, 166, 166)
.sidebar-group .sidebar-link
    text-shadow: 1px 0.4px 1px rgb(238, 238, 238)
.custom-block-title 
    font: 1.3rem sans-serif
    font-family: 'Hanuman'
blockquote
    border-left: 0.2rem solid #0008ff
    background-color: rgb(228, 228, 228)
.sidebar
    &::-webkit-scrollbar-thumb
              background-color: darkgrey;
        outline: 0px solid slategrey;
    &::-webkit-scrollbar-track 
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    &::-webkit-scrollbar 
        width: 0em; 